.hidden {
  display: none !important;
}
input {
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

.strike {
  text-decoration: line-through;
}

input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0px;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 50px;
}

#login-form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#login-form h1 {
  max-width: 50%;
  font-size: 50px;
}
#login-form input {
  max-width: 50%;
  font-size: 30px;
  padding: 10px;
}
#login-form :last-child {
  font-size: 20px;
  margin-top: 15px;
}
#todo-form input {
  font-size: 15px;
  width: 150%;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #424242;
  opacity: 0.75;
  color: white;
}

#clock {
  margin-left: 10px;
  font-size: 50px;
}

#todo-list li {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(245, 245, 245, 0.5);
}
#todo-list li input[type="checkbox"] {
  margin: auto;
  margin-left: 10px;
}

#todo-list li button {
  margin-left: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  height: 50px;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.75;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.myButton {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.myButton:active {
  position: relative;
  top: 1px;
}
