.hidden {
  display : none !important;
}
.strike{
  text-decoration:line-through;
}
body {
  height: 100vh;
  background-size: cover;
}
.container{
  flex-direction:column; 
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form {
  display: flex;
  flex-direction:column; 
  align-items: center;
  justify-content: center;
}
#login-form h1{
  max-width: 50%;
}
#login-form input{
  max-width: 50%;

}

#clock{
  height: 100x;
  text-align: center;
 font-size: 50px;
}
#head-form{
  display: flex;
  flex-direction: row-reverse;
  background-color: darksalmon;
  height: 50px;
}
#weather{

}
ul {
  list-style: none;
  padding-left: 0px;
}
