@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    background-color: #ecf0f1;
    margin: 0px;
}

.upline{
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom,rgb(48, 16, 102) ,10% , rgb(152, 134, 247)); 
    opacity: 0.8;
    z-index: 2;
}

.upline-txt{
    z-index: 1;

}

.single-line{
    height: 5px;
    width: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0.155), rgb(170, 153, 201, 0.555), rgba(170, 153, 201, 0.155)) ;
    opacity: 0.85;
    position: absolute;
    top: 15px;
    z-index: 3;
}

.main{
    height: 85vh;
    background: radial-gradient(rgba(124, 124, 124, 0.1), 60% , rgba(32, 32, 32, 0.1), 85%, rgba(0, 0, 0, 0.3));
    margin: 0px;
    padding: 15px;
    padding-top: 40px;
}

.js-clock{
    position: relative;
    margin: 0px;
    font-size: 125px;
    color: #ecf0f1;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 0 rgba(127, 140, 141, 0.3),
        0 1px rgba(127, 140, 141, 0.3);
    text-align: center;
    
}

.form-and-nametxt{
    position: relative;
    top: 22vh;
    color: #ecf0f1;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 0 rgba(127, 140, 141, 0.3),
        0 1px rgba(127, 140, 141, 0.3);
    font-size: 45px;
}

.hide {
    display: none;
}

.showing{
    display: block;
}

.js-form{
    margin-top: 30px;
    margin-bottom: 20px;
}

.js-input{
    background: linear-gradient(to top, rgba(11,11,11,0.65), 50%, rgba(124, 124, 124, 0.068));
    border-width: 0px;
    border-bottom-width: 1px;
    color: #ecf0f1;
}

.js-input:focus{
    outline: none;
}

input::placeholder{
    color: #ecf0f1;
    text-shadow: 1px 0 rgba(127, 140, 141, 0.3),
        0 1px rgba(127, 140, 141, 0.3);
}

.js-greetings{
    margin-left: 5px;
}


.button{
    opacity: 0.8;
    margin-bottom: 20px;
}

.to-do-div{
    font-size: 16px;
    position: relative;
    top: 22vh;
    text-align: center;
}

.toDoList{
    margin: 15px 0px;
    text-align: center;
    color: #ecf0f1;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-shadow: 1px 0 rgba(127, 140, 141, 0.3),
        0 1px rgba(127, 140, 141, 0.3);
}
.bottom-line{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background:linear-gradient(to bottom,rgba(117, 134, 134, 0.603), 90%, #727883ef);
    opacity: 0.85;
}

.bottom-highlight{
    position: relative;
    height: 1.25px;
    top: 2px;
    background: azure;
}

.reset-name{
    width: 60px;
    height: 3%;
    text-align: right;
    border:1px solid black;
    margin: 5px;
    margin-left: 80%;
}
