body {
  font-family: sans-serif;
  /* flex 속성을 추가하는 이유? */
  display: flex;
}
h2 {
  color: white;
}
.smallScreen {
  background-color: #337ec4;
}
.mediumScreen {
  background-color: rgb(152, 90, 190);
}
.bigScreen {
  background-color: rgb(255, 208, 0);
}
