body{
    text-align: center;
    ;
}
.header_wrapper{
    position :fixed;
    top: 0px;
    background: yellow;  
    width: 100%;
    box-shadow: rgb(0,0,0 / 8%) 0px 0px 8px;
}

.header_logo{
    float: left;
}